__pycache__/*
*.pyc
.venv/
.python/
utils/JAKA_SDK_LINUX_ARM/*
utils/JAKA_SDK_LINUX_X86/*
utils/JAKA_SDK_WINDOWS/*
*.db
.DS_Store
.tare/*
.vscode/*
.vscode/settings.json
proto/RobotService_pb2.pyi
gRPC/proto/RobotService_bp.proto
.claude/settings.local.json
tmpclaude-ed9e-cwd
logs
tmpclaude-1782-cwd
utils/ffmpeg-2026-01-12-git-21a3e44fbe-full_build/*
received_images/*
utils/mediamtx_v1.15.6_windows_amd64/*
utils/src/*.mp3
*.png
/.idea
CLAUDE.md
cl.bat
tmp
robot/RobotController_bp_260825.py
gRPC/proto/RobotService_newer.proto
docs/阶段3-生产稳定性升级/任务取消信息流与数据结构.pdf
