__pycache__/*
*.pyc
utils/JAKA_SDK_LINUX_ARM/*
utils/JAKA_SDK_LINUX_X86/*
utils/JAKA_SDK_WINDOWS/*
*.db
.DS_Store
.tare/*
.vscode/*
.vscode/settings.json
proto/RobotService_pb2.pyi
gRPC/proto/RobotService_bp.proto
CLAUDE.md
cl.bat
.claude/settings.local.json
tmpclaude-ed9e-cwd
logs
docs/*
tmpclaude-1782-cwd
utils/ffmpeg-2026-01-12-git-21a3e44fbe-full_build/*
received_images/*
utils/mediamtx_v1.15.6_windows_amd64/*
deploy/install_service.bat
deploy/install.bat
deploy/LumiRobot.xml
deploy/README.txt
deploy/start.bat
deploy/status.bat
deploy/uninstall_service.bat
utils/src/你的实验室助手已上线.mp3
utils/src/收到巡检任务啦.mp3
